/* BARRA DE MENU DA PÁGINA */
header img{
    height: 80px;
    width: 80px;
}

/*--------------------------------------------------------------------------------------*/
/* CONTEÚDO DA PÁGINA */
main{
    margin: 5px;    
    min-height: 500px;
   

}

/*--------------------------------------------------------------------------------------*/
/* banner */
#section-banners img{
    height: 500px;

}

/*--------------------------------------------------------------------------------------*/
/* produtos vendidos */
#sessao-vendas{
    text-align: center;

}

#sessao-vendas h2{
    font-weight:  bold;
    padding: 20px;
}

#sessao-vendas img{
    height: 300px;
    border-radius: 10px; 

}

#sessao-vendas .card{
    margin: 5px;
    border: 1px solid #CCC;
    border-radius: 10px;
    
}

#sessao-vendas .preco{
    color: red;
    font-size: 18px;
    font-weight: bold;
    
}

/*--------------------------------------------------------------------------------------*/
/* Botão de Voltar */

#voltar-topo{
    position: fixed;
    bottom: 10px;
    right: 50px;
    border: 2px solid;
 
}

/*--------------------------------------------------------------------------------------*/
/* PÁGINA DE LOGIN */

#pagina-login{
    margin: 5px;
}

#sessao-login{    
    border: 2px solid;
    border-radius: 10px;
    margin: auto;
    width: 390px;
    height: 320px;
    margin-top: 50px;

}

#sessao-login h1{
    text-align: center;
    color: green;
    
}

#sessao-login input{
    width: 100%;
    
} 

.txtLogin{
    background-color: rgb(12, 94 ,34);
    padding: 8px;
    border-radius: 8px 8px 0px 0px;
}

/*--------------------------------------------------------------------------------------*/
/* FORMULÁRIO DE CADASTRO */

#sessao-cadastro{
    padding: 50px;
    text-align: center;
    margin: auto;
    width: 490px;
    background-color: #FFF;


}

#form-cadastrar{
    padding: 0px;
    display: none;
    border: 2px solid;
    border-radius: 10px;
    background: #CCC;

}

.txtForm-cadastro{
    background-color: rgb(12, 94 ,34);
    border-radius: 8px 8px 0px 0px;
  width: 100%;
}

/*--------------------------------------------------------------------------------------*/
/* RODAPÉ DA PÁGINA */
footer{
    text-align: center;

}

footer p{
    font-weight: bold;
    padding: 10px;

}


