/* BARRA DE MENU DA PÁGINA */
header img{
    height: 80px;
    width: 80px;
}


/* CONTEÚDO DA PÁGINA */
main{
    min-height: 500px;
}


/* banner */
#section-banners img{
    height: 500px;

}

/* produtos vendidos */
#sessao-vendas{
    text-align: center;

}

#sessao-vendas h2{
    font-weight:  bold;
    padding: 20px;
}

#sessao-vendas img{
    height: 300px;
    border-radius: 10px; 

}

#sessao-vendas .card{
    margin: 5px;
    border: 1px solid #CCC;
    border-radius: 10px;
    
}

#sessao-vendas .preco{
    color: red;
    font-size: 18px;
    font-weight: bold;
    
}

/* RODAPÉ DA PÁGINA */
footer{
    text-align: center;

}

footer p{
    font-weight: bold;
    padding: 10px;
}


/* Botão de Voltar */

#voltar-topo{
    position: fixed;
    bottom: 10px;
    right: 50px;
 
}


/* PÁGINA DE LOGIN */

#section-login{
    margin-top: 100px;
}

#section-login h1{
    text-align: center;
    
}

#section-login input{
    width: 100%;
    
} 

/* FORMULÁRIO DE CADASTRO */

#section-cadastro{
    padding: 50px;
    text-align: center;
    background-color: #FFF;

}

#form-cadastrar{
    padding: 50px;
    display: none;

}
